.letter-tile {
  font-size: 3.5vmin;
  height: 7vmin;
  aspect-ratio: 1 / 1;
  margin: 0.5rem;
  background-color: lightblue;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.clicked {
  visibility: hidden;
}

@media screen and (min-width: 576px) {
  .letter-tile {
    font-size: 3vmin;
    height: 5vmin;
  }
}
