/* App CSS */

.App {
  text-align: center;
  height: 100vh;
}

.wait-message {
  font-family: "Londrina Sketch", cursive;
}

/* Page layout CSS */

.app-instructions {
  position: absolute;
  margin: 0;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
}

.app-header {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-main {
  height: 40%;
}

.app-gallows {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.app-wordbox {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.app-alphabet-display {
  height: 30%;
}

.app-menu {
  position: absolute;
  margin: 0;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%);
}
